.post {
    display: block;
	width: 70%;
	margin: auto;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inform {
    padding: 3px;
    margin: 10px;
}

.header {
    text-align:center;
}

.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.userRelatedPosts {
    float: left;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.editPreview {
    text-align: center;
}
.profile {
    display: block;
	width: 30%;
    float: right;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login {
    display: block;
	width: 30%;
    float: left;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

