.post {
    display: block;
	width: 70%;
    margin-top: 10px;
	margin: auto;
    margin-bottom: 20px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.exploreImageWrapper {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.exploreImage {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 300px;
    border: 2px ridge #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inform {
    padding: 3px;
    margin: 10px;
}

.header {
    text-align:center;
}

.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.userRelatedPosts {
    float: left;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.editPreview {
    text-align: center;
}
.profile {
    display: table;
	width: 30%;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login {
    display: block;
	width: 30%;
    float: left;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.searchbox {

    border: none;
    border-bottom: 2px solid slateblue;
    width: 50%;
    margin-right: 5%;
}
.searchbox:focus {
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
}

.searchOrder {
    width: 200px;
}