.nav-color {
    background-color: #4c9e9d;
    border-bottom: 3px ridge #3c8786;
    font: 14px Century Gothic,Futura,sans-serif!important;
}

.post {
    display: block;
	width: 80%;
    margin-top: 10px;
	margin: auto;
    margin-bottom: 20px;
	border: 2px ridge #999;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    font: 14px Century Gothic, Futura, sans-serif!important;
}

.local-bootstrap {
    @import "~bootstrap/css/bootstrap";
}

body {
    margin-top: 6.5rem !important;
    -webkit-text-size-adjust: unset !important;
    -webkit-tap-highlight-color: unset !important;
    background-color: unset !important;
    background-color: unset !important;
    color: unset !important;
    color: unset !important;
    font-family: unset !important;
    font-size: unset !important;
    font-size: unset !important;
    font-weight: unset !important;
    font: 14px Century Gothic,Futura,sans-serif!important;
    font-weight: unset !important;
    line-height: unset !important;
    line-height: unset !important;
    margin: 0;
    text-align: unset !important;
}

a.nav-link {
    color: white;
    text-decoration: none;
}

.default-div {
    display: block;
	width: 70%;
    padding: 10px;
    margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	border: 2px ridge #999;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}

.margin-zero {
    margin: 0;
}

.post-link{
    text-decoration: none;
    color: black;
}

.post-link:hover{
    color: black;
}

.post:hover{
    background-color: rgb(225, 235, 245);
    color: black !important;
}

.post-page {
    margin: 0;
    float: left;
	width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font: 14px Century Gothic, Futura, sans-serif;
}

.exploreImageWrapper {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.exploreImage {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 300px;
    border: 2px ridge #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inform {
    padding: 3px;
    margin: 10px;
}

.header {
    text-align:center;
}

.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.userRelatedPosts {
    float: left;
    width: 850px;
    margin: 5px;
	height: 250px;
    border: 2px ridge #999;
	padding: 3px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	overflow-y:scroll;
}

.editPreview {
    text-align: center;
}
.profile {
    display: table;
	width: 310px;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font: 14px Century Gothic, Futura, sans-serif;
    /* float: right; */
}

.edit-profile {
    display: table;
	width: 310px;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font: 14px Century Gothic, Futura, sans-serif;
    float: right;
}

.login {
    display: block;
	width: 30%;
    float: left;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font: 14px Century Gothic, Futura, sans-serif;
}


.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.searchbox {

    border: none;
    border-bottom: 2px solid slateblue;
    width: 50%;
    margin-right: 5%;
}
.searchbox:focus {
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
}

.searchOrder {
  width: 200px;
}
.card {
  position: relative;
  margin: auto;
  width: 300px;
  height: 180px;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  outline: 2px solid #3890dd;
  margin-bottom: 10px!important;
}
.card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  /* width: 300px; */
  height: 130px;
  background: white;
}
.card .ds-top img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 80px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profiledata {
  top: 200px;
}

.pfpOnPosts {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}

/* .navbarLogo {
	display: inline;
	vertical-align: middle;
	margin-right: 5px;
	background: white;
} */

.navbar {
    z-index: 10;
    top: 0;
    width: 100%;
    position: fixed !important;
}

.notif {
    display: block;
	width: 70%;
    margin-top: 10px;
	margin: auto;
    margin-bottom: 20px;
    border-top: 1px ridge #999;
	border-bottom: 1px ridge #999;
	padding: 10px;
	text-align:left;
}
.notif:hover {
    background-image: linear-gradient(to right, white, rgb(225, 235, 245), white);
}

.newNotif {
    background-image: linear-gradient(to right, white, aliceblue, white);
    display: block;
	width: 70%;
    margin-top: 10px;
	margin: auto;
    margin-bottom: 20px;
    border-top: 1px ridge #999;
	border-bottom: 2px ridge #999;
	padding: 10px;
	text-align:left;
}
.newNotif:hover {
    background-image: linear-gradient(to right, white, rgb(225, 235, 245), white);
}
.notifPFP {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
}
