.post {
    display: block;
	width: 70%;
    margin-top: 10px;
	margin: auto;
    margin-bottom: 20px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.exploreImageWrapper {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.exploreImage {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 300px;
    border: 2px ridge #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inform {
    padding: 3px;
    margin: 10px;
}

.header {
    text-align:center;
}

.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.userRelatedPosts {
    float: left;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.editPreview {
    text-align: center;
}
.profile {
    display: table;
	width: 30%;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login {
    display: block;
	width: 30%;
    float: left;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.side {
    float: right;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.searchbox {

    border: none;
    border-bottom: 2px solid slateblue;
    width: 50%;
    margin-right: 5%;
}
.searchbox:focus {
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
}

.searchOrder {
  width: 200px;
}
.card {
  position: relative;
  margin: auto;
  width: 300px;
  height: 180px;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
}
.card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 130px;
  background: white;
}
.card .ds-top img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 80px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profiledata {
  top: 200px;
}

.pfpOnPosts {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
