/*The login css file.............
...........*/

.profile {
    display: block;
	width: 30%;
    float: right;
	margin: 10px;
	border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inform {
    padding: 3px;
    margin: 10px;
}

.userRelatedPosts {
    float: left;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px ridge #999;
	padding: 10px;
	text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

